<footer class="footer">
    <span>&copy; 2025 Example App.</span>
    <span class="img-credit"><a href="https://www.flaticon.com/free-icon/lotus-flower_3810196">Rainbow Petal Image Credit</a></span>
</footer>

<!-- JS for color -->
<% if (locals.jsFiles) { %>
    <% for (let js of jsFiles) { %>
        <script src="<%= js %>"></script>
    <% } %>
<% } %>
</body>
</html>