<%- include('partials/header.ejs', {pageTitle: pageTitle, cssFiles: [`/css/index.css`]}) %>
<div class="container">
    <h1>Welcome to the App</h1>
    <img src="/img/logo.png" alt="Logo" class="logo"/>
    <p>Your goal is the rewrite this code using EJS for better maintainability, but to keep the functionality.</p>
    <p>There is a lot of repeated code which should be simplified.</p>
    <div id="dancing-text">Dancing Text</div>
</div>
<%- include('partials/footer.ejs', {jsFiles: [`/js/index.js`]}) %>